@mixin icon-before {
	&::before {
		display: block;
		font-family: FontAwesome;
		@content;
	}
}

@mixin pseudo {
	position: relative;
	
	&::before {
		display: block;
		content: '';
		position: absolute;
		@content;
	}
}

%button {
	padding: 0 16px;
	position: relative;
	border: none;
	background-color: #fff;
	color: #737373;
	border: 1px solid #d0d0d2;
	border-radius: 5px;
	outline: none;
	height: 33px;
	line-height: 33px;
	box-shadow: inset 0 -1px 0 0 #a1a1a1;	
	
}

%vertical-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

%absolute-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}